<script id="runningViewTemplate" type="text/x-handlebars-template">
  <div id="running_view_wrapper">
    <div id="map" class="absolute top-0 bottom-0 left-0 right-0"></div>
  </div>
</script>

<script id="runningViewButtonsTemplate" type="text/x-handlebars-template">
  <div id="buttons" class="absolute left-0 right-0 top-100 center-align z-2">
    <div id="start_button" class="height-40 width-100 bg-green inline-block">
      Start
    </div>
    <div id="stop_button" class="hide height-40 width-100 bg-red">
      Stop
    </div>
  </div>
</script>

<script id="runResultsTemplate" type="text/x-handlebars-template">
  <textarea id="results_text_area" class="z-2 absolute top-100">

  </textarea>
</script>